body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
  }
  h1 {
    color: #333;
    margin: 40px 0;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
  }
  input[type="text"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 2px solid;
    border-color: #606060;
    border-radius: 5px;
  }
  input[type="submit"] {
    background-color: #0077c9;
    color: #fcfcfc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav a {
    color: #fff;
    margin-right: 20px;
  }